body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

#editor {
  background-color: var(--sn-stylekit-editor-background-color);
  color: var(--sn-stylekit-editor-foreground-color);
  font-size: 13px !important;
  font-family: "Fira Code Retina", "Fira Code" !important;    
  -webkit-overflow-scrolling: touch;
  height: 100% !important;
  width: 100% !important;

  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;

  padding: 15px;
  padding-top: 11px;
}

* {
  // To prevent gray flash when focusing input on mobile Safari
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@import '~stylekit';